<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Todo-List</h2>
  <p>
    The Todo-List is a project created to capture and list all your to do's.
    This app has been built on ember and firebase.
  </p>
  {{#link-to 'contact' class="button"}}
    Contact Me
  {{/link-to}}
</div>

